
/* ===================================
	ORANGE COLORS
====================================== */

/* ===================================
	BACKGROUND COLOR
====================================== */
.background-three {
	background-color: #CC6600;
}

/* ===================================
	HIGHLIGHT
====================================== */
span.zzcolor-contras{
	color: #CC6600;
}

/* ===================================
	SOLID BUTTON
====================================== */
.zzbutton-solid{
	background-color: #CC6600;
}

.zzbutton-solid:hover{
	opacity: 0.7;
}

/* ===================================
	OUTLINE BUTTON
====================================== */
.zzbutton-outline-light:hover{
	background-color: #CC6600
}

/* ===================================
	DARK BUTTON
====================================== */
.zzbutton-outline-dark:hover{
	background-color: #CC6600;
}

/* ===================================
	ROUND BTN
====================================== */
.zzbtn-round{
	background-color: #CC6600;
}

.zzbtn-round:hover{
	opacity: 0.7;
}

/* ===================================
	ICON
====================================== */
.zzblurb-icon-only i{
	color: #CC6600;
}

.zzblurb-icon-only h3{
	color: #CC6600
}

/* ===================================
	ROUND ICON
====================================== */
.zzblurb-round-icon:hover .zzicon{
	background-color: #CC6600;
}

.zzicones .zzicon i {
	color: #dadada;
}

.zzblurb-round-icon:hover h3{
	color: #CC6600;
}

/* ===================================
	ICON SQUARE
====================================== */
.zzicones:hover .zzblurb-text h3{
	color: #CC6600;
}

.zzicones:hover .zzblurb-text h3:after{
	background-color: #CC6600;
}

.zzicones .zzblurb-text h3:after {
	background-color: #CC6600;
}

.zzicones .zzicon:hover {
	background-color: #CC6600;
	border: none;
	color: #fff;
}

.zzicones .zzicon:hover i{
	background-color: #CC6600;
	border: none;
	color: #fff;
}

.main-menu .navbar-nav li a:hover,
.main-menu .navbar-nav li.active a{
    color: #151B54;
}

.zzslider .sp-selected-button {
  	background-color: #CC6600;
}

.zzmember-details h3{
	color: #CC6600;
}

.zzline{
	background-color: #CC6600;
}

.zzcounter-item h3:after {
	background-color: #fff;
}

/* ===================================
	FEATURED WORK
====================================== */
.zzport-work-details .zzport-work-desc p a:hover{
	color: #CC6600;
}

.zzport-work-details .zzport-work-desc h3{
	color: #CC6600;
}

.zzrecommended-pricing{
	border: 6px solid #CC6600;
}

.recommended-titles {
	background-color: #CC6600;
}

.zzicones{
	overflow: hidden;
	padding: 20px;
	border-bottom: 1px dotted #CC6600;
}

.zzicones-center{
	border-left: 1px dotted #CC6600;
	border-right: 1px dotted #CC6600;
}
.zzportfolio-work-item .zzwork-meta li{
	background-color: #CC6600;
}
/* ===================================
	PORTFOLIO
====================================== */
.zzportfolio-filter-btn-group ul li a.selected{
	color: #CC6600;
}

.zzportfolio-filter-btn-group ul li a {
	border-right: 1px dotted #CC6600;
}

/* ===================================
	PRICING
====================================== */
.zzpricing-plans .zzpricing-titles h2{
	color: #CC6600
}

.zzpricing-plans {
	border: 5px solid  #CC6600;
}

.zzpricing-plans .zzpricing-titles p span{
	color: #CC6600;
}

/* ===================================
	SIGN UP 
====================================== */
.zzpricing-plans a.zzsignup-btn{
	background-color: #CC6600;
}

.zzpricing-plans a.zzsignup-btn:hover{
	opacity: 0.7;
}

/* ===================================
	CONTACT
====================================== */
.zzcontact-section .zzcontact-address ul li {
	background-color: #CC6600;
}

.zzcontact-section .zzcontact-form input[type='submit']{
	background-color: #CC6600;
}

.zzcontact-section .zzcontact-form input[type='submit']:hover{
	opacity: 0.7;
}

.zzfind-us-btn h3{
	color: #CC6600;
}

.zzportfolio-information .zzshare-project ul li a:hover i{
	color: #CC6600;
}

/* ===================================
	OWL CAROUSEL 
====================================== */
.owl-theme .owl-controls .owl-page span {
	background-color: #CC6600 !important;
}

/* ===================================
	FOOTER
====================================== */
footer ul li a:hover i{
	color: #CC6600;
}