
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .zzmain-menu.minified {
      background-color: #28292e;
      padding: 20px 0 0;
      position: fixed;
  }

  .navbar-header {
      float: none;
      text-align: center;
  }

  .navbar-brand {
      float: none;
      font-size: 18px;
      line-height: 20px;
      padding: 15px;
  }

  .navbar-collapse {
  	  text-align: center;
  }

    .zzmain-menu .navbar-nav {
      display: inline-block;
      float: none;
  }

  .navbar-nav > li {
      display: inline-block;
      float: none;
      margin-bottom: 5px;
  }

    .zzteam-slides .zzmember-img-wrapper {
      width: 35%;
      margin-right: 5%;
  }

    .zzmember-details {
      display: inline-block;
      float: left;
      width: 60%;
  }

}



@media only screen and (min-width: 768px) and (max-width: 991px) {
    .zzmain-menu.minified {
      padding: 20px 0 0;
      position: fixed;
  }

  .navbar-header {
      float: none;
      text-align: center;
  }

  .navbar-brand {
      float: none;
      font-size: 18px;
      line-height: 20px;
      padding: 15px;
  }

  .navbar-collapse {
  	  text-align: center;
  }

    .zzmain-menu .navbar-nav {
      display: inline-block;
      float: none;
  }

  .navbar-nav > li {
      display: inline-block;
      float: none;
      margin-bottom: 5px;
  }

    .zzicones .zzicon {
      height: 50px;
      width: 50px;
      margin-right: 20px;
  }

    .zzicones .zzblurb-text {
      float: left;
      width: 140px;
  }

    .zzicones .zzicon i {
      font-size: 24px;
      line-height: 50px;
  }

    .zzteam-slides .zzmember-img-wrapper {
      width: 35%;
      margin-right: 5%;
  }

    .zzmember-details {
      display: inline-block;
      float: left;
      width: 60%;
  }

    .zzportfolio-items .zzportfolio-item {
      height: 280px;
      overflow: hidden;
      position: relative;
      width: 33.33331%;
  }

}



@media only screen and (max-width: 767px) {
    .zzsection-header {
      margin-bottom: 60px;
      text-align: center;
  }

  .navbar-toggle {
      border: 1px solid #fff;
      background-color: #818181;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .navbar-toggle .icon-bar {
      border-radius: 1px;
      display: block;
      height: 2px;
      width: 22px;
      background-color: #fff;
  }

  .navbar-collapse {
      border-top: 0px solid transparent;
      box-shadow: 0 0px 0 rgba(255, 255, 255, 0) inset;
      /*max-height: auto;*/
  }

    .zzmain-menu .navbar-nav {
      float: none;
      padding: 10px 0;
  }

    .zzmain-menu .navbar-nav li {
      margin-bottom: 10px;
  }

    .zzmain-menu .navbar-nav li:last-child {
  	 margin-bottom: 0;
  }

    .zzblurb-icon-only {
      margin-bottom: 50px;
  }

    .zzblurb-icon-only:last-child {
  	 margin-bottom: 0;
  }

    .zzicones .zzblurb-text {
      float: left;
      width: 61%;
  }

    .zzblurb-round-icon {
      margin-bottom: 50px;
  }

    .zzblurb-round-icon:last-child {
      margin-bottom: 0;
  }

    .zzprocess-item {
      text-align: center;
      margin-bottom: 50px;
  }

    .zzprocess-item:last-child {
  	  margin-bottom: 0;
  }

    .zzcta-1 h2 {
      text-align: center;
      margin-bottom: 30px;
  }

    .zzcta-1 p {
    	text-align: center;
    	margin-bottom: 20px;
  }

    .zzcta-1 .zzcta-btn {
  	  text-align: center;
  }

    .zzcta-1 .zzcta-btn a {
  	  float: none;
  }

    .zzmain-slides h1.zzslider-text-big {
        color: #CC6600;
      font-size: 24px;
      margin-bottom: 25px;
      margin-top: 0;
      text-transform: uppercase;
      white-space: normal !important;
      text-align: center;
      width: 100% !important;
  }

    .zzmain-slides p {
        color: #CC6600;
      font-family: "Raleway",sans-serif;
      font-size: 18px !important;
      font-weight: 400;
      margin-bottom: 0;
      white-space: normal !important;
      text-align: center;
      margin-top: 20px;
      width: 100% !important;
  }

    .zzteam-slides .zzmember-img-wrapper {
      float: none;
      height: auto;
      width: 100%;
  }

    .zzmember-details {
      float: none;
      width: 100%;
      text-align: center;
  }

    .zzmember-details ul {
  	  display: inline-block; 
  }

    .zzcounter-item {
      margin-bottom: 50px;
  }

    .zzcounter-item:last-child {
  	  margin-bottom: 0;
  }

    .zzportfolio-items .zzportfolio-item {
      height: 280px;
      overflow: hidden;
      position: relative;
      width: 100%;
  }

    .zzsection-wrapper .zzcustom-sec-img {
      margin-bottom: 20px;
  }

    .zzcontact-section .zzcontact-address {
      margin-bottom: 50px;
  }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .zzportfolio-items .zzportfolio-item {
       width: 50%;
    }

}